* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Fruktur', cursive;
}

html {
    font-size: 62.5%;
    font-family: 'Fruktur', cursive;
}

/* .logos {
    margin-top: 1rem;
} */

.logo {
    display: flex;
    float: left;
    position: fixed;
    margin-top: 1rem;
    margin-left: 41%;
    z-index: 4;
    transition: 0.5s;
    border-radius: 4rem;
    background-color: rgb(62, 186, 0)
}

/* .logot {
    width: 180px;
    min-height: 65.17px;
    position: fixed;
    margin-top: 1rem;
    margin-left: 41%;
    box-shadow: 0.2rem  1rem 1.5rem 0.5rem #eee;
    z-index: 2;
    border-radius: 4rem;
} */



.logo:hover {
    background-color: rgb(31, 94, 0);
}

header {
    height: 13rem;
    width: 100%;
    background: linear-gradient(70deg, rgb(28, 79, 2) 10%,rgb(62, 186, 0), rgb(191, 255, 175));
    padding: 8rem 2rem 0rem 2rem;
    font-size: 1.6rem;
    position: absolute;
    z-index: 3;
    box-shadow: 1rem 1rem 1rem 1rem rgb(0, 102, 255);
}

header nav {
    width: 90%;
    height: auto;
    padding: 0 14% 0 16%;
}

header nav ul{
    list-style: none;
    width: 100rem;
}

header nav ul li a{
    text-decoration: none;
    float: left;
    color: #eee;
    margin-right: 6rem;
    padding: 1rem 6rem 1rem 6rem;
    transition: 1s;
}

header nav ul li a:hover {
    background-color: #eee;
    border-radius: 4rem;
    color: rgb(62, 186, 0);
}

header nav ul li a:active {
    transition: 0.1s;
    background-color: rgb(0, 0, 0);
}

header nav ul li .ul4 {
    color: #eee;
}

header nav ul li .ul4:hover {
    color: rgb(62, 186, 0);
    background-color: #eee;
}

.content {
    width: 100%;
    height: 100rem;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQkSlzeri7x-LDZufqhRKEyvPZ7RhSq3-Oe1Q&usqp=CAU");
    background-attachment: fixed;
}

.contenedor {
    width: 80%;
    background-color: transparent;
    margin: 0 auto;
    padding: 20rem 20rem 0 5rem;
}

.h1s {
    padding-bottom: 10rem;
    font-size: 8rem;
    color: rgb(255, 238, 0);
}

.h2s {
    font-size: 2rem;
    color: #eee;
}

.footer {
    width: 100%;
    height: 32rem;
    background-color: rgb(33, 89, 0);
    padding: 5rem;
    font-size: 1.5rem;
    color: #eee;
}

.footer ul {
    float: left;
    margin-right: 9rem;
}

.footer ul li {
    margin-left: 12rem;
    margin-top: 1rem;
}

.footer ul li a {
    color: #eee;
    text-decoration: none;
}

.footer h4 {
    color: #eee;
    margin-top: 15%;
    margin-left: 25%;
}

.content {
    padding-top: 30rem;
}

.contenedor {
    padding: 0;
    margin: auto;
    width: 800px;
    height: 400px;
    background-color: rgb(0, 166, 255);
    border: solid 0.5rem rgb(0, 13, 107);
    padding-top: 0rem;
}

#player {
    background-color: #900;
    border: 4px dashed #b22;
    width: 50px;
    height: 50px;
    border-radius: 29px;
    position: absolute;
    transition: all 0.3s;
}

.pointer {
    background-color: #444;
    height: 50px;
    width: 59.2%;
    margin-bottom: 0rem;
    color: #eee;
    font-size: 2rem;
    padding: 1rem 0rem;
    text-align: center;
}